@(header: Html)(header_app: Html)(navigation: Html)(navigation_app: Html)(logbook_boatinfo_menu: Html)(logbook_trip_menu: Html)(logbook_boatinfo: Html)(logbook_weatherinfo: Html)(map_content: Html)

<!DOCTYPE html>

<html>
<head>

		<!-- Header -->
        @header
        
        <!-- Header App -->
        @header_app

</head>
<body onload="initialize();">

	<!-- Navigation -->
	@navigation

	<!-- Container -->
	<div class="container-fluid">

		<!-- Navigation -->
		@navigation_app

		<!-- Content -->
		@logbook_boatinfo_menu
		@logbook_trip_menu
		<div id="appWrapper" align="center">
			<input class="btn" type="button" id="load_trip" value="Trip laden" class="button" />
			<br />
			@logbook_boatinfo
			<br />
			<br />
			@logbook_weatherinfo
			<br />
			<br />
			@map_content
		</div>
		<!-- Content -->
	</div>
	<!-- Container -->

	<!-- Menu Modal -->
	<div class="modal hide fade" id="messageBox">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 id="dialogTitle"></h3>
		</div>
		<div class="modal-body">
			<p id="dialogMessage"></p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok"></i>
				ok</a>
		</div>
	</div>

	<!-- Additional Scripts -->
	<script src="@routes.Assets.at("javascripts/app/ajax/boatinfo.js")" type="text/javascript"></script>

</body>
</html>