@(header: Html)(navigation: Html)(navigation_app: Html)(logbook_boatinfo_menu: Html)(logbook_trip_menu: Html)(logbook_boatinfo: Html)(logbook_weatherinfo: Html)(simple_map: Html)

<!DOCTYPE html>

<html>
<head>

		<!-- Header -->
        @header
        <script src="@routes.Assets.at("javascripts/app/logbook/logbook_weather_data.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app/logbook/print_trip.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app/logbook/boat_data.js")" type="text/javascript"></script>

</head>
<body onload="initialize();">

	<!-- Navigation -->
	@navigation

	<!-- Container -->
	<div class="container-fluid">

		<!-- Navigation -->
		@navigation_app

		<!-- Content -->
		<!-- selection menu for boat infos -->
		@logbook_boatinfo_menu

		<!-- selection menu for trips -->
		@logbook_trip_menu
		
		<div id="appWrapper" align="center">
			<input class="btn" type="button" id="load_trip" value="Trip laden" class="button" />
			<br />
			<!-- boat info form -->
			@logbook_boatinfo
				
			<br />
			<br />
			<!-- weather info form -->
			@logbook_weatherinfo
				
			<br />
			<br />
			<!-- simple map to show trip -->
			@simple_map
		</div>
		<!-- Content -->
	</div>
	<!-- Container -->

	<!-- Menu Modal -->
	<div class="modal hide fade" id="messageBox">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 id="dialogTitle"></h3>
		</div>
		<div class="modal-body">
			<p id="dialogMessage"></p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok"></i>
				ok</a>
		</div>
	</div>

	<!-- Additional Scripts -->
	<script src="@routes.Assets.at("javascripts/app/ajax/boatinfo.js")" type="text/javascript"></script>

</body>
</html>