@(header: Html)(header_app: Html)(navigation: Html)(navigation_app: Html)(map_content: Html)

<!DOCTYPE html>

<html>
    <head>
    
    	<!-- Header -->
        @header
        
        <!-- Header App -->
        @header_app
        
    </head>
    <body onload="initialize();">
    
    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
    		<!-- Navigation -->
    		@navigation_app

			<!-- Map -->
			@map_content

		</div><!-- Container -->
	</body>
</html>