@(header: Html)(navigation: Html)(navigation_app: Html)(route_menu: Html)(route_map: Html)

<!DOCTYPE html>

<html>
    <head>
    
    	<!-- Header -->
        @header
        
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/app/logbook_selection_menu.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/app/map.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/app/contextMenu.css")">

		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCnaCuuuXCzfGbzbXN699vudQ4fWTNmiY&libraries=geometry&sensor=false"></script>
		<script src="@routes.Assets.at("javascripts/app/route/route_menu.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/map_labels.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/map_validation.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/map_TxtOverlay.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/map_contextMenu.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/map_routes.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/route/route_map.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/route/route_print_route.js")" type="text/javascript" ></script>
        
    </head>
    <body onload="initialize();">
    
    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
	    	<!-- Navigation -->
	    	@navigation_app

	    	<!-- route selection menu -->
	    	@route_menu

			<!-- Content -->
			<div id="appWrapper" align="center">
				<input class="btn" type="button" id="load_route" value="Route laden" class="button" />

	            <!-- simple map to show trip -->
				@route_map
	        </div><!-- Content --> 
		</div><!-- Container -->
		
		<!-- Menu Modal -->
		<div class="modal hide fade" id="messageBox">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="dialogTitle"></h3>
			</div>
			<div class="modal-body">
				<p id="dialogMessage"></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok"></i> ok</a>
			</div>
		</div>
		
    </body>
</html>