#map_canvas {
    height: 500px;
    width: 100%;
}

#chartContainer {
	width: 70%;
}

#windContainer {
	width: 280px;
	height: 280px;
	margin: 0 auto;
}

#waveContainer {
	width: 280px;
	height: 280px;
	margin: 0 auto;
}

#pressureContainer {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 30px;
}

#cloudContainer {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 30px;
}

#tempContainer {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 30px;
}

#sideButtons {
	float: left;
}

#load_boat_info {
	float: left;
	margin-top: 20px;
}
