@(file: String)

<div class="overlay_route" id="overlay_route" style="display: none;"></div>

<div class="box_route" id="box_route">
	<a class="boxclose_route" id="boxclose_route"></a>

	<div class="appTableDiv_route" align="center">
		<table class="appTable table table-hover_route" cellspacing="0px"
			cellpadding="5px">
			<thead>
				<tr>
					<th>Title</th>
					<th>Start</th>
					<th>Ziel</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="entries_route">
			@Html(file)
			</tbody>
		</table>
		<br /> <br />
	</div>
</div>