<div class="container-fluid" id="weather_info_table" style="display: none">
	<div class="accordion-group">
    	<div class="accordion-heading">
      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
			<h2>Wetter Informationen</h2>
			</a>
    	</div>
    	<div id="collapseThree" class="accordion-body collapse">
		    <div class="accordion-inner">
				<div class="row-fluid" id="chartContainer">
					
					<div class="row-fluid">
						<div class="span3">
							<h4>Windrichtung/</h4><h4>Windgeschwindigkeit</h4>
							<div id="windContainer"></div>
						</div>
					
						<div class="span3">
							<h4>Wellenrichtung/</h4><h4>Wellenh&ouml;he</h4>
							<div id="waveContainer"></div>
						</div>
							
						<div class="span2" id="test">
							<h4>Luftdruck</h4>
							<div id="pressureContainer" ></div>
						</div>	
								
						<div class="span2">
							<h4>Bew&ouml;lkung</h4>
							<div id="cloudContainer"></div>
						</div>
								
						<div class="span2">
							<h4>Temperatur</h4>
							<div id="tempContainer"></div>
						</div>
					</div>	
				</div>
			</div>
		</div>	
	</div>
</div>
</div>

