<div class="container-fluid" id="route_info_table" style="display: none">
	<br />
	<h2>Routen</h2>
	<br />
	<form class="form-horizontal">
		<div class="row well" style="margin-left: 15%;">
			<div class="span4" align="center">
				<div class="control-group">
					<label class="control-label">Titel</label> <input type="text"
						name="titel" id="titel" />
				</div>
				<div class="control-group">
					<label class="control-label">Von</label> <input type="text"
						name="von" id="von" />
				</div>
				<div class="control-group">
					<label class="control-label">Nach</label> <input type="text"
						name="von" id="nach" />
				</div>
			</div>
			<div class="span4">
				<div class="control-group">
					<label class="control-label">Start</label> <input type="text"
						name="titel" id="tstart" />
				</div>
				<div class="control-group">
					<label class="control-label">Ende</label> <input type="text"
						name="von" id="tende" />
				</div>
				<div class="control-group">
					<label class="control-label">Dauer</label> <input type="text"
						name="von" id="tdauer" />
				</div>
			</div>
			<div class="span4">
				<div class="control-group">
					<label class="control-label">Skipper</label> <input type="text"
						name="von" id="skipper" />
				</div>
				<div class="control-group">
					<label class="control-label">Crew</label>
					<textarea cols="20" rows="3" id="crew"></textarea>
				</div>
			</div>
			<div class="span4">
				<div class="control-group">
					<label class="control-label">Motor</label> <input type="text"
						name="motor" id="motor" />
				</div>
				<div class="control-group">
					<label class="control-label"></label> <span>Tank
						gef&uuml;llt<input type="checkbox" value="false" name="tank"
						id="tank" style="margin-left: 20px; margin-top: -5px;" />
					</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<input type="reset" class="btn" id="delete" value="L&ouml;schen"
				class="button" /> <input type="submit" class="btn" id="save"
				name="submit" value="Speichern" class="button" />
		</div>
	</form>
</div>
