<!-- Distance Menu -->
<div id="distanceToolContainer">
	<div id="distanceToolMenu" class="well">
		<h4>Distanztool</h4>
		<input type="button" class="btn" value="beenden"
			id="stopDistanceToolButton" class="distanceToolbutton"
			onclick="javascript: stopDistanceToolMode()" /> <br>
		<br>
		<div id="distanceTool_distance">
			Distanz: <span id="distanceTool_number"></span> m
		</div>
	</div>
</div>

<!-- Route Menu -->
<div id="routeMenuContainer">
	<div id="routeMenu" class="well">
		<h4>Routen Men&uuml;</h4>
		<div class="btn-group btn-group-vertical">
			<input type="button" class="btn" value="l&ouml;schen"
				id="deleteRouteButton" class="routeButton"
				onclick="javascript: deleteRoute()" /> <input type="button"
				class="btn" value="speichern" id="saveRouteButton"
				class="routeButton" onclick="javascript: saveRoute()" /> <input
				type="button" class="btn" value="beenden" id="stopRouteButton"
				class="routeButton" onclick="javascript: stopRouteMode()" />
		</div>
		<br>
		<br>
		<div id="route_distance">
			Routen-L&auml;nge: <span id="route_distance_number"></span> m
		</div>
	</div>
</div>

<!-- Content -->

<!-- Map -->
<div id="map_canvas" style="visibility: hidden"></div>

<!-- Context Menus -->
<div id="temporaryMarkerContextMenu"></div>
<div id="fixedMarkerContextMenu"></div>
<div id="routeContextMenu_active"></div>
<div id="routeContextMenu_inactive"></div>
