<div id="chartContainer">

	<div class="row-fluid" id="roseContainer">

		<div class="row-fluid">
			<div class="span6">
				<h4 id="windHeading">Windrichtung/</h4><h4 id="windHeading2">Windgeschwindigkeit</h4>
				<div id="windContainer"></div>
			</div>
	
			<div class="span6">
				<h4 id="waveHeading">Wellenrichtung/</h4><h4 id="waveHeading2">Wellenh&ouml;he</h4>
				<div id="waveContainer"></div>
			</div>
		</div>
			
	</div>
	
	<div class="row-fluid" id="restContainer">
	
		<div class="row-fluid">
		
			<div class="span4">
				<h4 id="pressureHeading">Luftdruck</h4>
				<div id="pressureContainer"></div>
			</div>	
			
			<div class="span4">
				<h4 id="cloudHeading">Bew&ouml;lkung</h4>
				<div id="cloudContainer"></div>
			</div>
			
			<div class="span4">
				<h4 id="temperatureHeading">Temperatur</h4>
				<div id="tempContainer"></div>
			</div>
			
		</div>
		
	</div>
	
	<div class="row-fluid" id="foreCastContainer">
		<div class="btn-group">
			<button class="btn" id="btnAkt">Aktuell</button>
			<button class="btn" id="btn3h">3h</button>
			<button class="btn" id="btn6h">6h</button>
			<button class="btn" id="btn1D">1 Tag</button>
			<button class="btn" id="btn2D">2 Tage</button>
			<button class="btn" id="btn5D">5 Tage</button>
		</div>
	</div>

</div>