@(file: String)

<div class="overlay_boat_info" id="overlay_trip_info" style="display: none;"></div>

<div class="box_boat_info" id="box_trip_info">
	<a class="boxclose_boat_info" id="boxclose_trip_info"></a>

	<div class="appTableDiv_boat_info" align="center">
		<table class="appTable table table-hover_boat_info" cellspacing="0px"
			cellpadding="5px">
			<thead>
				<tr>
					<th>Titel</th>
					<th>Skipper</th>
					<th>Start</th>
					<th>Ende</th>
					<th>Dauer</th>
					<th>Motor</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="entries_trip_info">
			@Html(file)
			</tbody>
		</table>
		<br /> <br />
	</div>
</div>