@(file: String)

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/app/logbook_selection_menu.css")">
<script src="@routes.Assets.at("javascripts/app/logbook/logbook_boatinfo_menu.js")" type="text/javascript"></script>

<div class="overlay_boat_info" id="overlay_boat_info" style="display: none;"></div>

<div class="box_boat_info" id="box_boat_info">
	<a class="boxclose_boat_info" id="boxclose_boat_info"></a>

	<div class="appTableDiv_boat_info" align="center">
		<table class="appTable table table-hover_boat_info" cellspacing="0px"
			cellpadding="5px">
			<thead>
				<tr>
					<th>Bootsname</th>
					<th>Bootstyp</th>
					<th>Konstrukteur</th>
					<th>Baujahr</th>
					<th>Heimathafen</th>
					<th>L&auml;nge</th>
					<th>Breite</th>
					<th>Tiefgang</th>
					<th>Inhaber</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="entries_boat_info">
			@Html(file)
			</tbody>
		</table>
		<br /> <br />
	</div>
</div>