.overlay_boat_info, .overlay_trip_info, .overlay_route{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    background-color: #000;
    display: none;
    opacity: 0.5;
}

.box_boat_info, .box_trip_info, .box_route{
    position:fixed;
    top:-1000px;
    left:10%;
    right:10%;
    overflow:auto;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

a.boxclose_boat_info, a.boxclos_trip_info, a.boxclose_route{
    float:right;
    width:16px;
    height:16px;
    background:transparent url(../img/glyphicons-halflings.png) repeat top left;
    background-position: -312px 0;
    margin-top:-10px;
    margin-right:-10px;
    cursor:pointer;
}